# Terraform
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
terraform/.terraform/
terraform/terraform.tfstate*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.zip

# VS Code
.vscode/

# Logs & Sonstiges
*.log
.DS_Store

# dbt
*.yml

terraform/dev.auto.tfvars
